<div class="container coasters-index">

  <h1 style="font-weight: 100">{{coaster.name}}</h1>

  <h4>Descripción</h4>
  <p>{{coaster.description}}</p>
  <p><strong>Longitud: </strong> {{coaster.length}}m | <strong>Inversiones: </strong> {{coaster.inversions}}

  <hr>

  <h5>Sobre el parque</h5>
  <p><strong>Nombre</strong>: {{coaster.park_id.name}}</p>
  <p><strong>Descripción</strong>: {{coaster.park_id.description}}</p>
  {{#if isAdmin}}
  <form action="/coasters/delete?id={{coaster.id}}" method="POST">
  <button type="submit">Remove</button></form><br>

  <a href="/coasters/edit/{{coaster.id}}">Edit</a><br><br>
  {{/if}}
  <a href="/coasters" class="btn btn-dark">Volver</a>

</div>